[client]
host=REPLACEONINSTALL
user=pcapanalyzer
password=REPLACEONINSTALL
database=packetstream
machineid=REPLACEONINSTALL
[paths]
basedir=REPLACEONINSTALL
[interfaces]
interface=REPLACEONINSTALL
[queryrunner]
selectuser=selectuser
selectpassword=REPLACEONINSTALL
[credchecking]
user=pcapuserchecker
password=REPLACEONINSTALL
host=REPLACEONINSTALL
database=pcapanalyzer_creds
