[Unit]
Description=PacketStream backend control for PCAPAnalyzer
After=network.target 
After=postgresql.service

[Service]
ExecStart=/usr/bin/python3 start.py
WorkingDirectory=REPLACEONINSTALL
StandardOutput=inherit
StandardError=inherit
Restart=always
User=root

[Install]
WantedBy=multi-user.target
